<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title><%= groupName%> - расписание</title>
    <link rel="stylesheet" href="./public/CSS/style.css">
    <link rel="stylesheet" href="./public/CSS/popup.css">
</head>
<body>
    <% include blocks/toolbar%>
    <div class="wrapper">
        <% if (schedule) {%>
            <div class="controls">
                <% for (week in schedule) {%>
                    <% if (week === '1') {%>
                        <div class="first-week">Нечетная неделя</div>
                    <%} else {%>
                        <div class="second-week">Четная неделя</div>
                    <%}%>
                <%}%>
            </div>
            <% for (week in schedule) {%>
                <table class="tbl" id="week-<%= week%>">
                    <tr>
                        <% if (week === '1') {%>
                            <td class="week-str"colspan="2">Нечетная неделя </td>
                        <%} else {%>
                            <td class="week-str"colspan="2">Четная неделя </td>
                        <%}%>
                    </tr>
                    <% for (day in schedule[week]) {%>
                        <% if (Object.keys(schedule[week][day]).length > 0) {%>
                            <tr>
                                <td colspan="6" class="day-name"><%= day%></td>
                            </tr>
                            <tbody class="block-body">
                            <% for (pair in schedule[week][day]) {%>
                                <%const short = schedule[week][day][pair];%>
                                    <tr class="row">
                                        <td class="pair"><%= pair%></td>
                                        <td><%= [short.begin, short.end].join('-')%></td>
                                        <td><%= short.name%></td>
                                        <td class="pair-type"><%= short.type%></td>
                                        <td class="teacher-name"><%= short.teacher%></td>
                                        <td class="class-room"><%= short.room%></td>
                                    </tr>
                            <%}%>
                            </tbody>
                        <%}%>
                    <%}%>
                </table>
            <%}%>
        <%} else {%>
            <div class="response-message">Сегодня пар нет, отдыхайте!😎</div>
        <%}%>
    </div>
    <script src="JS/jquery.js"></script>
    <script src="JS/tables.js"></script>
    <script src="JS/popup.js"></script>
</body>
</html>